<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.xuxiao.dao.inf.IRegisterDao">

    <select id="findAll" resultType="cn.neusoft.xuxiao.dao.entity.Register">
        SELECT
			student_id,
			student_name,
			start_time,
			image_url,
			address
		FROM
			register
    </select>

	<select id="pageQuery" parameterType="cn.neusoft.xuxiao.dao.entity.RegisterCriteria" resultType="cn.neusoft.xuxiao.dao.entity.Register">
		SELECT
			id,
			student_id,
			student_name,
			start_time,
			address
		FROM
			register
		WHERE
			start_time &gt;= #{start_time}
		AND
			start_time &lt;= #{end_time}
		<if test="pageSize > 0">
			LIMIT #{rowSrt}, #{pageSize}
		</if>
	</select>

	<select id="pageQuery_Count" parameterType="cn.neusoft.xuxiao.dao.entity.RegisterCriteria" resultType="java.lang.Integer">
		SELECT
	  		COUNT(1)
	  	FROM
	  		register
		WHERE
		    start_time &gt;= #{start_time}
		AND
		    start_time &lt;= #{end_time}
	</select>
</mapper>