<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.xuxiao.dao.inf.IStudentDao">

    <sql id="page_query_sql">
      <![CDATA[
        SELECT
          s.id,
          s.student_id,
          s.student_name,
          s.student_class,
          s.student_gender,
          s.student_tel,
          s.work_detail
        FROM
          student s
        ]]>
    </sql>
    <sql id="page_query_class_sql">
        <![CDATA[
        SELECT
          c.id,
          c.name,
          c.work_detail
        FROM
          class c
        ]]>
    </sql>
    <sql id="page_query_condition">
        <if test="id != null">
            AND s.id = #{student_id,jdbcType=INTEGER}
        </if>
        <if test="student_id != null">
            AND s.student_id = #{student_id,jdbcType=VARCHAR}
        </if>
        <if test="student_name != null">
            AND s.student_name = #{student_name,jdbcType=VARCHAR}
        </if>
        <if test="student_class != null">
            AND s.student_class = #{student_class,jdbcType=VARCHAR}
        </if>
        <if test="student_class_id != null">
            AND s.student_class_id = #{student_class_id,jdbcType=INTEGER}
        </if>
        <if test="student_gender != null">
            AND s.student_gender = #{student_gender,jdbcType=VARCHAR}
        </if>
        <if test="student_tel != null">
            AND s.student_tel = #{student_tel,jdbcType=VARCHAR}
        </if>
        <if test="work_detail != null">
            AND s.work_detail = #{work_detail,jdbcType=INTEGER}
        </if>
    </sql>
    <sql id="page_query_class_condition">
        <if test="name != null">
            AND c.name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="work_detail != null">
            AND c.work_detail = #{work_detail,jdbcType=INTEGER}
        </if>
    </sql>
    <sql id="insert">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="student_id != null">
                student_id,
            </if>
            <if test="student_name != null">
                student_name,
            </if>
            <if test="student_class != null">
                student_class,
            </if>
            <if test="student_gender != null">
                student_gender,
            </if>
            <if test="student_tel != null">
                student_tel,
            </if>
            <if test="work_detail != null">
                work_detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="student_id != null">
                #{student_id,jdbcType=VARCHAR},
            </if>
            <if test="student_name != null">
                #{student_name,jdbcType=VARCHAR},
            </if>
            <if test="student_class != null">
                #{student_class,jdbcType=VARCHAR},
            </if>
            <if test="student_gender != null">
                #{student_gender,jdbcType=VARCHAR},
            </if>
            <if test="student_tel != null">
                #{student_tel,jdbcType=VARCHAR},
            </if>
            <if test="work_detail != null">
                #{work_detail,jdbcType=INTEGER},
            </if>
        </trim>
    </sql>

    <sql id="insert_class">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="work_detail != null">
                work_detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="work_detail != null">
                #{work_detail,jdbcType=INTEGER},
            </if>
        </trim>
    </sql>

    <sql id="update">
        <if test="student_name != null">
            student_name = #{student_name,jdbcType=VARCHAR},
        </if>
        <if test="student_class != null">
            student_class = #{student_class,jdbcType=VARCHAR},
        </if>
        <if test="student_gender != null">
            student_gender = #{student_gender,jdbcType=VARCHAR},
        </if>
        <if test="student_tel != null">
            student_tel = #{student_tel,jdbcType=VARCHAR},
        </if>
        <if test="work_detail != null">
            work_detail = #{work_detail,jdbcType=INTEGER},
        </if>
    </sql>
    <sql id="update_class">
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="work_detail != null">
            work_detail = #{work_detail,jdbcType=INTEGER},
        </if>
    </sql>
    <select id="pageQuery_Count" parameterType="cn.neusoft.xuxiao.dao.entity.StudentCriteria" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM
          student s
        <trim prefixOverrides="AND | OR " prefix="WHERE">
            <include refid="page_query_condition"/>
        </trim>
    </select>

    <select id="pageQuery" parameterType="cn.neusoft.xuxiao.dao.entity.StudentCriteria" resultType="cn.neusoft.xuxiao.dao.entity.Student">
        <include refid="page_query_sql"/>
        <trim prefixOverrides="AND | OR " prefix="WHERE">
            <include refid="page_query_condition"/>
        </trim>
        ORDER BY student_id
        <if test="pageSize > 0">
            LIMIT #{rowSrt}, #{pageSize}
        </if>
    </select>

    <delete id="deleteStudent" parameterType="cn.neusoft.xuxiao.dao.entity.Student">
        DELETE FROM
          student
        WHERE id=#{id}
    </delete>

    <update id="updateStudent" parameterType="cn.neusoft.xuxiao.dao.entity.Student">
        UPDATE student
        <set>
            <include refid="update"/>
        </set>
        WHERE id=#{id}
    </update>

    <insert id="insertStudent" parameterType="cn.neusoft.xuxiao.dao.entity.Student">
        INSERT INTO
        student
        <include refid="insert"/>
    </insert>

    <select id="findAll" resultType="cn.neusoft.xuxiao.dao.entity.Student">
        SELECT
          *
        FROM
          student s
    </select>

    <select id="findInCount" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM
          student
        WHERE
          work_detail=0
    </select>

    <select id="findOutCount" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM
          student
        WHERE
          work_detail=1
    </select>

    <select id="getWorkDetail" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
          work_detail
        FROM
          student
        where student_id = #{student_id};
        ORDER BY student_id
    </select>

    <select id="pageQueryClass_Count" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
          class
        <trim prefixOverrides="AND | OR " prefix="WHERE">
            <include refid="page_query_class_condition"/>
        </trim>
    </select>

    <select id="pageQueryClass" resultType="cn.neusoft.xuxiao.dao.entity.ClassInfo">
        <include refid="page_query_class_sql"/>
        <trim prefixOverrides="AND | OR " prefix="WHERE">
            <include refid="page_query_class_condition"/>
        </trim>
        <if test="pageSize > 0">
            LIMIT #{rowSrt}, #{pageSize}
        </if>
    </select>


    <update id="updateClass">
        UPDATE class
        <set>
            <include refid="update_class"/>
        </set>
        WHERE id=#{id}
    </update>

    <insert id="insertClass" parameterType="cn.neusoft.xuxiao.dao.entity.ClassInfo">
        INSERT INTO
          class
        <include refid="insert_class"/>
    </insert>

    <delete id="deleteClass" parameterType="cn.neusoft.xuxiao.dao.entity.ClassInfo">
        DELETE FROM
          class
        WHERE id=#{id}
    </delete>

    <select id="findAllClass" resultType="cn.neusoft.xuxiao.dao.entity.ClassInfo">
        SELECT
          id,
          name
        FROM
          class
    </select>


    <insert id ="insertStudentBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into student
        (
        student_id,
        student_name,
        student_class,
        student_class_id,
        student_gender,
        student_tel
        )
        values
        <foreach collection="list" item="student" separator=",">
            (
                #{student.student_id},
                #{student.student_name},
                #{student.student_class},
                #{student.student_class_id},
                #{student.student_gender},
                #{student.student_tel}
            )
        </foreach>
    </insert>

    <select id="findClassById" parameterType="java.lang.Integer" resultType="cn.neusoft.xuxiao.dao.entity.ClassInfo">
        SELECT
          *
        FROM
          class
        WHERE id=#{id}
    </select>

    <select id="findStudentByStudentId" parameterType="java.lang.String" resultType="cn.neusoft.xuxiao.dao.entity.Student">
        SELECT
          *
        FROM
          student
        WHERE
          student_id=#{id}
    </select>

    <select id="findStudentListByClassId" parameterType="java.lang.Integer" resultType="cn.neusoft.xuxiao.dao.entity.Student">
        SELECT
          *
        FROM
          student
        WHERE
          student_class_id = #{class_id}
        ORDER BY student_id
    </select>

    <select id="findStudentIdListByClassId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT
          student_id
        FROM
          student
        WHERE
          student_id = #{student_id}
    </select>

    <select id="findStudentCountByClassId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM
          student
        WHERE student_class_id  = #{class_id}
    </select>

    <select id="findClassByName" parameterType="java.lang.String" resultType="cn.neusoft.xuxiao.dao.entity.ClassInfo">
        SELECT
          *
        FROM
          class
        where name = #{name}
    </select>

    <select id="findWxUserByStudentId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
          id
        FROM
          wx_user
        WHERE student_id=#{id}
    </select>

    <delete id="cancelBind" parameterType="java.lang.String">
        DELETE FROM
          wx_user
        WHERE student_id =#{student_id}
    </delete>
</mapper>