.hh {
    display: inline-block;
    float: right;
}

.xi {
    text-align: center;
    padding: 0;
}

.zz {
    padding: 9px;
}

.bg{
    width: 8%;
}

.ip{
    width: 20px;
}

li{
    list-style: none;
}

.ha {
    padding: 0;
    margin: 0;
}

.tdd{
    width:60px;
}
.tdd1{
    width:80px;
}